@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300');
@import url('https://fonts.googleapis.com/css2?family=Quicksand');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:focus {
	outline: none;
}

::-moz-focus-inner{
	border: 0;
}

html {
  font-size: calc(10px + 0.5vw);
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
}

#summary_flex {
	margin: 0 auto;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 0.5em;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: stretch;
	background-color: #b6cbd6;
}

#summary {
	font-family: 'Quicksand', sans-serif;
	top: -0.7em;
	font-size: 1.5em;
	cursor: pointer;
}

#sum_menu {
	margin-top: 2em;
	position: relative;
	left: -35em;
	text-align: center;
	transition: left 2s;
}

.hidden {
	visibility: hidden;
}

#sum_menu a {
	padding: 1em;
	text-decoration: none;
	color : #6a7b7f;
	font-weight: bold;
	text-align: center;
	transition: color 1s;
}

#sum_menu a:hover {
	position: relative;
	border-bottom: 0.5em solid #2e68a3;
	color: #eaeeef;
	top: -1em;
}

header {
	margin-top: 4em;
	padding: 1em 0 2em 0;
	height: 12em;
	text-align: center;
	background-image: url(../img/header-img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	transition: 0.2s;
}

header h1 {
	font-family: 'Lobster', sans-serif;
	font-size: 3em;
	text-shadow: 0 0 0.2em #647478;
}

header p {
	font-family: 'Indie Flower', cursive;
	color: black;
	background-color: rgba(255, 255, 255, 0.7);
}

main {
	text-align:  center;
}

section {
	margin: 2em auto;
	width: 80%;
	padding: 1em;
	border-top: 0.8em double #405c6c;
	border-bottom: 0.8em double #405c6c;
	text-align: center;
}

#logo {
	margin: 0 auto;
	padding-bottom: 1em;
	width: 15%;
	height: auto;
	animation-name: logo_spin;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#separator {
	margin: 0 auto 2em auto;
	width: 20%;
	height: 0.1em;
	background-color: #405c6c;
	color: #405c6c;
}

.articles {
	margin: 1em;
	font-family: "Quicksand", sans-serif;
	border: 1px solid #405c6c;
	border-radius: 20px;
	background-color: #e6eaed;
	text-align: left;
}

.articles h2 {
	margin-left: 1em;
	color: #eefafc;
	text-shadow: 0 0 0.2em #192f5d;
}

.articles h3 {
	margin-left: 1em;
	color: #647478;
}

.articles img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	height: auto;
}

.articles .content {
	margin-right: 5%;
	overflow: hidden;
	max-height: 4.3em;
	border-right: 1px solid #785e37;
}

.articles p {
	margin: 0 1% 0 1%;
	text-indent: 1em;
	padding-left: 1em;
	display: inline-block;
}

.articles p:first-child::first-letter {
	font-weight: bold;
	font-size: 1.5em;
}

.articles address {
	margin: 1em 6% 0 0;
	font-family: "Raleway", sans-serif;
	font-size: 0.8em;
	text-align: right;
	color: #785e37;
}

.more {
	margin: 1em 0 1em 2em;
	font-family: "Open Sans", sans-serif;
	color : #647478;
	background-color: #faedcd;
	border: 1px solid #647478;
	border-radius: 1px 1px 1px 10px;
}

.more:hover {
	background-color: #e3ccb9;
	color: White;
}

#back_to_top {
	padding: 0.2em;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	text-decoration: none;
	color: #2e4450;
	border: 0.2em solid #2e4450;
	border-radius: 20px;
}

footer {
	margin-top: 2em;
	padding-left: 0.5em;
	background-color: #afb9bc;
	font-family: "Raleway", sans-serif;
	font-size: 0.8em;
}

@media only screen and (max-width: 640px) {
	header {
		margin-top: 6em;
		height: 10em;
		font-size: 0.6em;
	}
	.more {
		font-size: 70%;
	}
}
